/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/style.scss to edit this template
*/
/*
    Created on : Apr 12, 2023, 9:08:28 PM
    Author     : Yashaswini
*/
$body-bg: whitesmoke;
$main-bg: #fff;
$border-color: #000;
$shadow-color: rgba(136, 136, 136, 0.5);
$header-color: #226699;
$link-color: royalblue;
$link-hover: #d08504;
$remove-button: orangered;
$font-color: #000;
$inverse-font-color: #fff;
$go-button: limegreen;

